<div>
  <div class="main-img">
    <img class="shop-img" src="../../assets/Shopping_gif.gif">
  </div>
  <div class="sec">
    <mat-grid-list cols="5" rowHeight="4:4">
      <div class="men">
        <mat-grid-tile>
          <mat-card class="example-card">
            <img mat-card-image class="men-logo" src="../../assets/men.jpg">
            <mat-card-content>
              <a class="txt" routerLink="/men">
                Men
              </a>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </div>
      <div class="Women">
        <mat-grid-tile>
          <mat-card class="example-card">
            <img mat-card-image class="women-logo" src="../../assets/women-logo.avif">
            <mat-card-content>
              <a class="txt" routerLink="/women">
                Women
              </a>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </div>
      <div class="kid">
        <mat-grid-tile>
          <mat-card class="example-card">
            <img mat-card-image class="kid-logo" src="../../assets/kids-logo.jpg">
            <mat-card-content>
              <a class="txt" routerLink="/kid">
                Kid
              </a>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </div>
      <div class="laptop">
        <mat-grid-tile>
          <mat-card class="example-card">
            <img mat-card-image class="laptop-logo" src="../../assets/laptop.webp">
            <mat-card-content>
              <a class="txt" routerLink="/laptop">
                Laptop
              </a>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </div>
      <div class="mobile">
        <mat-grid-tile>
          <mat-card class="example-card">
            <img mat-card-image class="mobile-logo" src="../../assets/mobile-logo.avif">
            <mat-card-content>
              <a class="txt" routerLink="/mobile">
                Mobile
              </a>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </div>
  <!-- <div class="men">
    <mat-card class="example-card">
      <img mat-card-image class="men-logo" src="../../assets/men-logo.png">
      <mat-card-content>
        <a class="men-content" routerLink="/men">
          Men
        </a>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="Women">
    <mat-card class="example-card">
      <img mat-card-image class="women-logo" src="../../assets/men-logo.png">
      <mat-card-content>
        <a class="men-content" routerLink="/women">
          Women
        </a>
      </mat-card-content>
    </mat-card>
  </div> -->
</div>