.kid-fashion{
    margin-top: 20px;
    text-align: center;
}
.kid-img{
    width: 1200px;
    height: 350px;
    box-shadow: 10px 10px 5px lightpink;
}
.example-card {
    max-width: 500px;
    margin: 1rem;
}
.card-wrapper {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.img{
    justify-content: center;
    display: flex;
    width: 100%;
}
