<div class="main-div">
    <mat-card>
        <form>
            <img style="width: 100%;height: 250px;" src="../../assets/logout-logo.png">
            <br><br>
            <p class="text">Ohh no! You're leaving...<mat-icon style="color:rgb(163, 57, 101);">mood_bad</mat-icon></p>
            <br>
            <button mat-raised-button style="background-color: pink " type="submit">Naah, JustKidding</button>
            <br><br>
            <button mat-raised-button style="background-color: pink" type="submit">Yess, Log Me Out</button>
        </form>
    </mat-card>
</div>