img{
  height: 579px;
  width: 1360px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-div{
  background-image: linear-gradient(to bottom right, rgb(218, 185, 197),rgb(241, 190, 207) );
  height: 100%;
}
mat-card{
  height: 70%;
  width: 25%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);  
}

button{
  width: 60%;
  left: 20%;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 15px;
}
.text{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

